img{
    width: 300px;
}
body{
    background-image: url(scary\ teal\ blue\ forest.avif);
}
p{
    color:white;
    display: flex;
    justify-content: center;
    }
button{
margin:5px;
        padding:25px;
        font-size: .8em;
        background:#fdfeee;
}
.main{
    width: 300px;
    margin:0 auto;
    padding: 15px;
    background-color:#4b95b3;
    /* display: flex;
    justify-content: center; */

}
